body {
  background: rgb(99, 14, 121);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
  font-family: "Playfair Display", serif;
  padding: 0;
  margin: 0;
}
.container {
  color: white;
}

.video {
  box-shadow: 2px 3px 4px rgb(252, 250, 250);
  border-radius: 10px;
}

.servises {
  padding: 10px;

  margin-left: 10px;
}

.webLogo img {
  border-radius: 4px;
  border: 3px solid white;

  box-shadow: 2px 2px 7px black;
}

.contacts {
  color: white;
  animation: anime 9s forwards infinite linear alternate;
}
@keyframes anime {
  0% {
    opacity: 1;
    color: blue;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.newsLetter {
  box-shadow: 2px 3px 2px black;
  border-radius: 10px;
}

/* offer button */

.info {
  /* padding: 10px; */
  animation: btnMove 4s infinite linear;
}

@keyframes btnMove {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: scale(1.1) translateX(20px);
    border-radius: 20px;
    background-color: blue;
  }
  100% {
    transform: scale(1);
    background-color: chocolate;
  }
}

/* webdelivery site */

.logoArea {
  position: relative;
}
.bubble {
  position: absolute;
  top: 40px;
  left: 50px;
}

/* promo animation */

/* .promoA img {
  animation: move 3s infinite alternate;
}

@keyframes move {
  0%,
  50% {
    background-image: url("/img/yourNutriGuide\ 2.png");
  }

  50%,
  100% {
    background-image: url("/img/infinitylogoV1\ 2.png");
  }
} */
