body {
  background: rgb(99, 14, 121);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
  font-family: "Playfair Display", serif;
  padding: 0;
  margin: 0;
  position: relative;
}
/* sliderOffer */
.sliderOffer {
  width: 300px;
  height: 200px;
  text-align: center;
  position: absolute;
  background-image: url("../img/digMarketing.jpg");
  background-size: cover;
  background-position: center;
  border: 4px solid white;
  top: 120px;
  left: 0;

  color: white;
  animation: slider 5s 1 alternate ease-in-out 3s;
  opacity: 0;
}

.sliderBody {
  background: rgb(114, 14, 14);
  opacity: 0.9;
}

@keyframes slider {
  0% {
    transform: translateX(-300px);
    opacity: 1;
  }
  30%,
  60% {
    transform: translateX(0px);
    opacity: 1;
  }
  /* 90% {
    transform: translateX(100px);
    opacity: 1;
  } */
  100% {
    transform: translateX(1400px);
    opacity: 1;
  }
}

.container {
  color: white;
}

.video {
  box-shadow: 2px 3px 4px rgb(252, 250, 250);
  border-radius: 10px;
}

.servises {
  padding: 10px;

  margin-left: 10px;
}

.webLogo img {
  border-radius: 4px;
  border: 3px solid white;

  box-shadow: 2px 2px 7px black;
}

.contacts {
  color: white;
  animation: anime 9s forwards infinite linear alternate;
}
@keyframes anime {
  0% {
    opacity: 1;
    color: blue;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.newsLetter {
  box-shadow: 2px 3px 2px black;
  border-radius: 10px;
}

/* offer button */

.info {
  /* padding: 10px; */
  animation: btnMove 4s infinite linear;
}

@keyframes btnMove {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: scale(1.1) translateX(20px);
    border-radius: 20px;
    background-color: blue;
  }
  100% {
    transform: scale(1);
    background-color: chocolate;
  }
}

/* webdelivery site */

.logoArea {
  position: relative;
}
.bubble {
  position: absolute;
  top: 40px;
  left: 50px;
}

/* promo animation */

/* .promoA img {
  animation: move 3s infinite alternate;
}

@keyframes move {
  0%,
  50% {
    background-image: url("/img/yourNutriGuide\ 2.png");
  }

  50%,
  100% {
    background-image: url("/img/infinitylogoV1\ 2.png");
  }
} */

/* bottom animation */
.promoArea {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  animation: move 5s infinite alternate;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 3px 10px white;
}
/* .promoA {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-position: center;

}
.promoB {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-position: center;
} */

@keyframes move {
  0%,
  60% {
    background-image: url("../img/promoA.jpg");
  }

  100% {
    background-image: url("../img/promoB.jpg");
  }
}
