body {
  padding: 0;
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1516383740770-fbcc5ccbece0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
  position: relative;
}
/* top */

.cvImg img {
  position: absolute;
  top: 0;
  right: 20px;
  border-radius: 20px;
}

.contacts {
  color: antiquewhite;
  padding: 10px 10px;
  background-color: rgba(21, 20, 24, 0.5);
  transition: all 0.4s;
}
.contacts:hover {
  transform: scale(1.1);
}
.container {
  background-color: rgba(80, 12, 71, 0.7);
}

/* parteners logo */
.parteners img {
  margin: 2px;
}
