
*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
background-image: url('https://images.unsplash.com/photo-1566748861844-478bcee7137f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
background-position: center;

background-repeat: no-repeat;
color: white;
font-family: 'Merriweather', serif;

}

h3,h4,h5{
	  text-shadow: 2px 2px 2px purple;
		font-family:fantasy;
		color: white;
}
 i{

	color: white;
}
.contacts{
  background-color: rgba(200, 200, 100, 0.5);
  box-shadow: 2px 2px black;
  padding: 20px;
  transition: all .4s;
  border-radius: 20px;
}
.contacts:hover{
  transform:translateY(-8px) rotate(2deg) scale(.8);

  /* box shadow when hovers */
  box-shadow: 0 10px 20px white;
 }
}

.logo{
position: absolute;
top:40%;
left: 50%;
transform: translate(-50% ,-50%);
letter-spacing: 2px;
}


.text{
  position: absolute;
  top: 60%;
  left: 12%;

}
/* this box has the text h1 */
.click{
  position: absolute;
  top: 99%;
  left: 34%;

}
/* this box has the text h1 */

.boxes{
  box-shadow: 2px 2px black;
  padding: 20px;
  transition: all .4s;
  border-radius: 10px;

}

.boxes:hover{
 transform:translateY(-3px);
 /* box shadow when hovers */
 box-shadow: 0 10px 20px white;
}


.main{

  height: 95vh;

  position: relative;


}




/* animations */

@keyframes moveinLeft {
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  80%{
    transform: translateX(12px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }

}

/* text connection */

@keyframes moveinRight {
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  80%{
    transform: translateX(-12px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }

}



	/* notification Buttons */


  .heading-primary{
    color: white;
    text-transform: uppercase;
    /* more sm */
    backface-visibility: hidden;
    margin-bottom: 40px;

  }


  .heading-primary{
    color: white;
    text-transform: uppercase;
    /* more sm */
    backface-visibility: hidden;
    margin-bottom: 40px;

  }
  /* the title and the button */

  .heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 30px;
    /* connect the animation */
    animation-name: moveinLeft;
    animation-duration: 2s;

    /* animation-delay: 2s; */
     /* move the Animationafter 2s */

      /* animation-iteration-count: 3;   */
      /* how many time the animation repeat */

     animation-timing-function: ease-in-out;


  }
  .heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 500;
    letter-spacing:10px;
    /* connection with other text */
    animation: moveinRight 2s ease-out;

  }


  /* connnection Animation Proporties */
  @keyframes moveinLeft {
    0%{
      opacity: 0;
      transform: translateX(-100px);
    }
    80%{
      transform: translateX(12px);
    }
    100%{
      opacity: 1;
      transform: translateX(0);
    }

  }

  /* text connection */

  @keyframes moveinRight {
    0%{
      opacity: 0;
      transform: translateX(100px);
    }
    80%{
      transform: translateX(-12px);
    }
    100%{
      opacity: 1;
      transform: translate(0);
    }

  }
  /* another animation */
  @keyframes moveinBottom {
    0%{
      opacity: 0;
      transform: translateY(30px);
    }

    100%{
      opacity: 1;
      transform: translate(0);
    }

  }

  /* this is main button fix */

  .btn:link,
  .btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    /* speacial for padding */
    padding: 14px 40px;
    display: inline-block;
    border-radius: 100px;
    /* make happent correctly */
    transition:all .2s;
    /* this is connect with position in sudo button */
    position: relative;


  }
  .btn-white{
    background-color:white;
    color: #777;
  }
  /* translate move staff up down left and right */
  .btn:hover{

    transform:translateY(-3px);
    /* box shadow when hovers */
    box-shadow: 0 10px 20px rgba(0,0,0.2);
  }
  .btn:active{
    transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0,0,0.2);

  }
  /* sudo element */
  .btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    /* connect with button box */
    position: absolute;
    top: 0;
    left: 0;
    /* position if element is one top to the other */
    z-index: -1;
    transition: all .4s;

  }
  .btn-white:after{
  background-color: white;

  }

  .btn:hover::after{
    /* scall make the element bigger of dmsller */
    /* double side here  in X direction*/
    /* and in Y direction */
    transform: scaleX(1.4)scaleY(1.6)  ;
    /* wowoo */
    opacity: 0;


  }
  .btn-animated{
    /* the last one is animation delay */

    animation: moveinBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
